.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
}

.logo {
  color: #7eff8b;
  padding-left: 50px;
  font-size: 40px;
  font-weight: 500;
}

.contactlink {
  display: flex;
  padding-right: 40px;
}

.github svg {
  padding: 12px 10px 10px 10px;
  cursor: pointer;
}

.linkedin img {
  width: 29px;
  height: 29px;
  padding: 12px 10px 10px 10px;
  cursor: pointer;
}

.facebook img {
  width: 36px;
  height: 36px;
  padding: 9px 10px 10px 10px;
  cursor: pointer;
}
