.homepage {
  width: 100%;
  height: 89.9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  padding: 10px;
  width: 55%;
  display: block;
  line-height: 1;
}

.homepage,
p {
  color: white;
  margin: 0;
}

.name {
  font-size: 2.5em;
  font-weight: 370;
  padding-left: 4px;
  margin: 0px;
}

.title {
  font-size: 4.5em;
  font-weight: 450;
  margin: 0px;
  padding: 0px;
}

.quote {
  font-size: 1.3em;
  font-weight: lighter;
  padding-left: 5px;
  padding-top: 10px;
}

.resume {
  display: flex;
  margin: 20px 0px 0px 0px;
  background-color: #7eff8b;
  border: 0px;
  padding: 5px 15px 7px 15px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 20px;
  cursor: pointer;
}

.download {
  margin-left: 2px;
}

.animation {
  margin-bottom: 90px;
}
.inner a {
  text-decoration: none;
}

@media (min-width: 321px) and (max-width: 480px) {
  .homepage {
    width: 100%;
    height: 40vh;
    padding: 0px;
    margin: 0px;
  }
  .inner {
    padding: 0px;
    width: 100%;
  }
  .name {
    font-size: 1.2em;
    font-weight: 370;
    margin: 0px;
  }

  .title {
    font-size: 3em;
    font-weight: 450;
    overflow-wrap: break-word;
  }

  .quote {
    font-size: 1em;
    font-weight: lighter;
    padding-left: 5px;
    padding-top: 10px;
  }

  .animation {
    display: none;
  }
}
